<h2 style="text-align: center">Movimientos</h2>
<div class="container">
  <!-- <select [(ngModel)]="monedaSeleccionada" class="input-coin">
    <option *ngFor="let moneda of listaMonedas" [value]="moneda">
      {{ moneda }}
    </option>
  </select>
  <button class="addCoin" (click)="agregarMoneda()">Agregar Moneda</button> -->
  <button class="addConcept" (click)="mostrarMonedas()"> Mostrar Monedas</button>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Valor</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fila of filas; let i = index">
        <td>{{ fila.fecha }}</td>
        <td>{{ fila.concepto }}</td>
        <td>{{ fila.valor }}</td>
        <td>
          <button class="delete-btn" (click)="eliminarFila(i)">Eliminar</button>
          <button class="edit-btn" (click)="editarFila(i)">Editar</button>
        </td>
        <td><input type="text" /></td>
        <td><input type="number" /></td>
        <td><button>Agregar Moneda</button></td>
      </tr>
      <tr>
        <td>
          <span>{{ nuevaFila.fecha }}</span>
        </td>
        <td>
          <select [(ngModel)]="nuevaFila.concepto" class="input-field">
            <option *ngFor="let concepto of conceptos" [value]="concepto">
              {{ concepto }}
            </option>
          </select>
          <button class="addConcept" (click)="agregarConcepto()">
            Agregar Concepto
          </button>
        </td>
        <td>
          <input
            type="number"
            [ngModel]="nuevaFila.valor === 0 ? null : nuevaFila.valor"
            (ngModelChange)="
              nuevaFila.valor = $event === null || $event === '' ? 0 : $event
            "
            class="input-field"
            placeholder="Ingrese valor"
          />
        </td>
        <td>
          <button class="add-btn" (click)="agregarFila()">Agregar Fila</button>
          <button class="save-btn" (click)="guardarEdicion()">Guardar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-agregar-concepto
  *ngIf="mostrarAgregarConcepto"
  (conceptoAgregado)="actualizarConceptos($event)"
  (cerrarFormulario)="cerrarAgregarConcepto()"
  [listaConceptos]="conceptos"
></app-agregar-concepto>
<!-- <app-monedas
  *ngIf="mostrarMonedas"
  (monedaAgregada)="actualizarMonedas($event)"
  (cerrarFormulario)="cerrarMonedas()"
  [listaMonedas]="monedas"
  ></app-monedas> -->
