<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
</head>
<body>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required />

    <label for="user">User:</label>
    <input type="text" id="user" name="user" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <label for="empress">Empress:</label>
    <input type="text" id="empress" name="empress" required />

    <input type="submit" value="Registrarse" />
    <button type="button" (click)="toLogin()">Cancelar</button>
  </form>
</body>
