.form-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    
  }
  
  .input-field {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-btn, .quit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin: 10px 5px;
    min-width: 120px;
  }
  
  .add-btn {
    background-color: #28a745; /* Verde */
    color: white;
  }
  
  .add-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  .quit-btn {
    background-color: #dc3545; /* Rojo */
    color: white;
  }
  
  .quit-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }