<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Moneda</th>
        <th>Valor</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let moneda of monedas; let i = index">
        <td>{{ moneda.nombre }}</td>
        <td>{{ moneda.valor }}</td>
        <td>
          <button class="delete-btn" (click)="borrarMoneda(i)">Eliminar</button>
          <button
            class="edit-btn"
            *ngIf="editandoIndex !== i"
            (click)="editarFila(i)"
          >
            Editar
          </button>
          <button
            class="save-btn"
            *ngIf="editandoIndex === i"
            (click)="guardarEdicion()"
          >
            Guardar
          </button>
        </td>
      </tr>
      <td><input type="text" #monedaNombre placeholder="Nombre" /></td>
      <td><input type="number" #monedaValor placeholder="Valor" /></td>
      <td>
        <button class="add-btn" (click)="agregarMoneda(monedaNombre.value, monedaValor.value)">
          Agregar Moneda
        </button>
      </td>
    </tbody>
  </table>
</div>
