@font-face {
    font-family: "PTSerif-Regular";
    src: url("assets/PT_Serif/PTSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "PTSerif-Regular";
}
button{
    font-family: "PTSerif-Regular";
}